@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 150%;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

body, html {
  scroll-behavior: smooth;
  font-family: "Roboto";
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.content {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 15px;
}

@media (max-width: 600px) {
  .content {
    padding: 0 10px;
  }
}

.wrapper {
  position: relative;
}

h2 {
  font-size: calc(20px + 12 * ((100vw - 320px) / 850));
  font-family: 'Playfair Display';
  color: #1B1A17;
  line-height: 133%;
  margin-bottom: calc(0px + 38 * ((100vw - 320px) / 850));
}

@media (max-width: 600px) {
  h2 {
    text-align: left;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 6;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: calc(60px + 25 * ((100vw - 320px) / 850));
}

.header__burger {
  display: none;
}

@media (max-width: 600px) {
  .header__burger {
    display: block;
    width: 28px;
    height: 28px;
    position: relative;
  }
  .header__burger:after {
    content: "";
    display: block;
    background-color: black;
    border-radius: 50px;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 6px;
    left: 3px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .header__burger:before {
    content: "";
    display: block;
    background-color: black;
    border-radius: 50px;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 13px;
    left: 3px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .header__burger span:after {
    content: "";
    display: block;
    background-color: black;
    border-radius: 50px;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 20px;
    left: 3px;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
}

@media (max-width: 600px) {
  .header__burger_close:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 3px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .header__burger_close:before {
    content: "";
    display: block;
    opacity: 0;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .header__burger_close span:after {
    content: "";
    display: block;
    position: absolute;
    top: 13px;
    left: 3px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__active {
  display: none;
}

@media (max-width: 600px) {
  .burger__active {
    display: block;
    width: 100%;
    padding-bottom: 15px;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

.burger__open {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.header__list {
  font-size: calc(14px + 3 * ((100vw - 320px) / 850));
}

@media (max-width: 600px) {
  .header__list {
    display: none;
  }
}

.list__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

@media (max-width: 600px) {
  .list__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 20px;
  }
}

.list__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list__item:not(:last-child) {
  margin-right: calc(20px + 35 * ((100vw - 320px) / 850));
}

.burger__list-item {
  min-width: 100%;
}

.burger__list-link {
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #e4cfcf;
}

.burger__list-link:active {
  background-color: #bcb6b6;
}

.list__nav-wr {
  padding-top: 5px;
  position: relative;
}

.list__nav-follow {
  position: absolute;
  background-color: #E6C8B4;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  font-size: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.initial {
  margin-top: calc(60px + 25 * ((100vw - 320px) / 850));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .initial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.initial__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41%;
          flex: 0 1 41%;
  padding-right: calc(0px + 55 * ((100vw - 320px) / 850));
  padding-left: calc(0px + 87 * ((100vw - 320px) / 850));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 600px) {
  .initial__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.initial__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 59%;
          flex: 0 1 59%;
  padding-left: calc(0px + 80 * ((100vw - 320px) / 850));
  padding-right: calc(0px + 80 * ((100vw - 320px) / 850));
}

.initial__title {
  white-space: nowrap;
  font-family: 'Playfair Display';
  color: #1B1A17;
  line-height: 130%;
  font-size: calc(28px + 17 * ((100vw - 320px) / 850));
  margin-bottom: calc(11px + 5 * ((100vw - 320px) / 850));
}

@media (max-width: 600px) {
  .initial__title {
    text-align: center;
  }
}

.initial__section {
  font-family: 'Playfair Display';
  font-size: calc(19px + 11 * ((100vw - 320px) / 850));
  color: #1B1A17;
  margin-bottom: calc(30px + 10 * ((100vw - 320px) / 850));
}

@media (max-width: 600px) {
  .initial__section {
    text-align: center;
  }
}

.initial__p {
  font-weight: 300;
  font-size: 14px;
  max-width: 260px;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: calc(40px + 24 * ((100vw - 320px) / 850));
}

@media (max-width: 600px) {
  .initial__p {
    margin-bottom: 0;
    text-align: center;
  }
}

.initial__btn {
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background: #444240;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(168px + 37 * ((100vw - 320px) / 850));
  height: calc(44px + 20 * ((100vw - 320px) / 850));
}

@media (max-width: 600px) {
  .initial__btn {
    margin-top: 20px;
  }
}

@media (any-hover: hover) {
  .initial__btn:hover {
    background: #2f2e2c;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
}

.initial__img {
  font-size: calc(10px + 6 * ((100vw - 320px) / 850));
  color: #1B1A17;
  display: block;
  position: relative;
  z-index: 2;
}

@media (max-width: 600px) {
  .initial__img {
    font-size: 12px;
  }
}

.initial__img::after {
  content: "10100 ₽";
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 1;
  display: block;
  background: url(../img/initial__line.jpg) 100% center no-repeat;
  padding-right: 55px;
}

@media (max-width: 700px) {
  .initial__img::after {
    left: 5%;
  }
}

.initial__img::before {
  content: "28 мм диаметр";
  position: absolute;
  bottom: 20%;
  right: 5%;
  z-index: 200;
  display: block;
  background: url(../img/initial__line.jpg) 0% center no-repeat;
  padding-left: 55px;
}

@media (max-width: 700px) {
  .initial__img::before {
    right: 0;
  }
}

.initial__img {
  overflow: hidden;
}

.initial__img span:after {
  content: '';
  background: url(../img/initialBg.png) no-repeat;
  position: absolute;
  top: 5%;
  left: 50%;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: calc(80px + 420 * ((100vw - 320px) / 850));
  height: calc(100px + 750 * ((100vw - 320px) / 850));
}

@media (max-width: 600px) {
  .initial__img span:after {
    width: calc(250px + 150 * ((100vw - 320px) / 850));
    height: calc(600px + 300 * ((100vw - 320px) / 850));
  }
}

.popular__title {
  text-align: center;
}

@media (max-width: 600px) {
  .popular__title {
    margin-top: 20px;
    text-align: left;
  }
}

@media (max-width: 420px) {
  .popular__title {
    text-align: center;
  }
}

.popular__card {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .popular__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.popular__card-item {
  margin: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
}

@media (max-width: 992px) {
  .popular__card-item {
    margin: 0 10px;
  }
}

@media (max-width: 767px) {
  .popular__card-item {
    margin: 0 5px;
  }
}

@media (max-width: 600px) {
  .popular__card-item {
    margin-bottom: 20px;
  }
}

.card__item {
  padding-top: calc(0px + 40 * ((100vw - 320px) / 850));
  padding-right: calc(0px + 30 * ((100vw - 320px) / 850));
  padding-bottom: calc(10px + 25 * ((100vw - 320px) / 850));
  padding-left: calc(0px + 40 * ((100vw - 320px) / 850));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 600px) {
  .card__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .card__item {
    border-bottom: 1px solid #EAE3D4;
  }
}

.card__item-title {
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(27, 26, 23, 0.82);
  margin-bottom: 10px;
}

.card__item-price {
  font-family: 'Prata';
  font-size: 12px;
  color: rgba(27, 26, 23, 0.82);
  position: relative;
}

.card__item-price:before {
  font-family: "Roboto";
  content: "₽";
  display: block;
  position: absolute;
  top: 0;
  right: -12px;
}

.popular__item-product {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: red;
  padding: 1px;
  border-radius: 50%;
  background: linear-gradient(89.63deg, rgba(226, 208, 196, 0) 0.3%, #E2D0C4 99.67%);
}

.popular__item-product-img {
  border-radius: 50%;
}

.popular__item-btn {
  padding-left: 40px;
  position: relative;
}

.popular__item-btn:after {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background-color: #8B8371;
  position: absolute;
  top: 50%;
  left: 0;
}

.popular__item-btn a {
  font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  color: #1B1A17;
}

@media (any-hover: hover) {
  .popular__item-btn a:hover {
    text-decoration: underline;
  }
}

.quality {
  margin-top: calc(20px + 65 * ((100vw - 320px) / 850));
  margin-bottom: calc(20px + 65 * ((100vw - 320px) / 850));
  background: #F7F5EF;
}

.swiper-slide {
  height: auto;
  width: auto;
  padding-top: calc(30px + 20 * ((100vw - 320px) / 850));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 150%;
  color: #444240;
}

@media (max-width: 767px) {
  .swiper-slide {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 600px) {
  .swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.quality__slide-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57%;
          flex: 0 1 57%;
}

.quality__slide-img img {
  padding-left: calc(20px + 60 * ((100vw - 320px) / 850));
  padding-right: calc(20px + 60 * ((100vw - 320px) / 850));
}

@media (max-width: 600px) {
  .quality__slide-img img {
    margin: 20px 0;
  }
}

.quality__slide-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 43%;
          flex: 0 1 43%;
}

@media (max-width: 600px) {
  .quality__slide-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.quality__slide-p {
  padding-right: 24%;
  margin-bottom: calc(0px + 45 * ((100vw - 320px) / 850));
}

@media (max-width: 420px) {
  .quality__slide-p {
    padding-right: 0;
    text-align: center;
  }
}

.quality__slide-title {
  text-align: left;
}

@media (max-width: 420px) {
  .quality__slide-title {
    text-align: center;
  }
}

.quality__slide-btn {
  margin-top: 10px;
  display: block;
  background: #D4B098;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.05em;
  font-size: calc(10px + 2 * ((100vw - 320px) / 850));
  width: calc(135px + 69 * ((100vw - 320px) / 850));
  height: calc(41px + 23 * ((100vw - 320px) / 850));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.base-null {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  min-height: 50px;
}

.slider__control-prev {
  padding: 10px;
}

.slider__control-next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 10px;
}

.slider__control-fraction {
  width: auto;
  font-family: 'Prata';
  font-size: 12px;
  line-height: 16px;
  color: rgba(27, 26, 23, 0.82);
}

.news {
  padding-bottom: calc(20px + 70 * ((100vw - 320px) / 850));
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.news__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 420px) {
  .news__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news__title {
  padding-right: 8%;
}

@media (max-width: 600px) {
  .news__title {
    padding-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 420px) {
  .news__title {
    text-align: center;
  }
}

.news__p {
  padding-right: 20%;
  color: #444240;
  font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  margin-bottom: calc(30px + 80 * ((100vw - 320px) / 850));
}

@media (max-width: 420px) {
  .news__p {
    margin-bottom: 20px;
    padding-right: 0;
    text-align: center;
  }
}

.news__p a {
  font-weight: 700;
}

.news__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

@media (max-width: 600px) {
  .news__social-networks {
    margin-top: 20px;
  }
}

.news__photo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
}

.costile-tw {
  padding-top: 4px;
}

.grid__item-big {
  grid-row: span 2;
}

.news__photo-wr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39% 59%;
      grid-template-columns: 39% 59%;
  -ms-grid-rows: (50%)[2];
      grid-template-rows: repeat(2, 50%);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (max-width: 600px) {
  .news__photo-wr {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
}

.grid__item-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.grid__item-1 img {
  min-height: 100%;
}

.grid__item-3 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.grid__item-3 img {
  min-height: 100%;
}

.grid__item-2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
}

.grid__item-2 img {
  min-height: 100%;
}

footer {
  background: #444240;
  padding-top: calc(20px + 45 * ((100vw - 320px) / 850));
  padding-bottom: calc(20px + 45 * ((100vw - 320px) / 850));
  padding-left: calc(0px + 85 * ((100vw - 320px) / 850));
  padding-right: calc(0px + 85 * ((100vw - 320px) / 850));
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
}

@media (any-hover: hover) {
  footer li:hover {
    text-decoration: underline;
  }
}

footer li:not(:last-child) {
  margin-bottom: calc(10px + 5 * ((100vw - 320px) / 850));
  line-height: 115%;
}

footer button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: left;
  line-height: 114%;
  padding-top: 10px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: transparent;
  margin-bottom: calc(10px + 13 * ((100vw - 320px) / 850));
}

@media (max-width: 767px) {
  footer {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 420px) {
  footer button {
    margin-bottom: 5px;
  }
}

.footer__net {
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
}

@media (max-width: 767px) {
  .footer__net {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    grid-row-gap: 15px;
  }
}

@media (max-width: 420px) {
  .footer__net {
    display: block;
  }
}

.footer__net-item {
  max-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 420px) {
  .footer__net-item:nth-child(1) {
    margin: 0 auto;
  }
}

.footer__adress-logo {
  margin-bottom: 20px;
}

@media (max-width: 420px) {
  .list__our-company {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    display: none;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.footer_active {
  padding-top: 10px;
  display: block;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
/*# sourceMappingURL=style.css.map */