
footer{
	background: #444240;
	@include adaptiv-value(padding-top,65,20);
	@include adaptiv-value(padding-bottom,65,20);
	@include adaptiv-value(padding-left,85,0);
	@include adaptiv-value(padding-right,85,0);
	font-size: 12px;
	color: rgba(255, 255, 255, 0.75);
	li{
		@media(any-hover: hover){
			&:hover{
text-decoration: underline;
			}}
	}
	li:not(:last-child){
			@include adaptiv-value(margin-bottom,15,10);
			line-height: 115%;
			
			
	}
	button{
		@media (min-width: 421px){
			pointer-events: none;
		}
		
		text-align: left;
		line-height: 114%;
		padding-top: 10px;
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 0.07em;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: transparent;
	@include adaptiv-value(margin-bottom,23,10);
	
	}
	@media (max-width: $Tb){
		padding-left: 0;
		padding-right: 0;
	}
	@media (max-width: 420px){
		button{
			margin-bottom: 5px;
		}
	}
	
}


.footer__net {
		min-width: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 15px;
		grid-row-gap: 0px;
		@media (max-width: $Tb){
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 1fr 1fr;
			grid-row-gap: 15px;
		}
		@media (max-width: 420px){
			display: block;
		}
				
}


.footer__net-item {	
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

}
.footer__net-item:nth-child(1){
	@media (max-width: 420px){
		margin: 0 auto;
		max-width: 130px;
	}
	
}





.footer__adress-logo {
	margin-bottom: 20px;
}






.list__our-company{
	
	@media (max-width: 420px){
		transition: all 0.3s linear;
		display: none;
		transform: scaleY(0);
		
	}
	
}



.footer_active{
	@media (max-width: 420px){
		padding-top: 10px;
	display: block;
	transform: scaleY(1);
	transition: all 0.3s linear;	
	}
}