

.initial{
		@include adaptiv-value(margin-top,85,60);
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $Mb){
			flex-direction: column;
		}
		
}



.initial__text {
	flex: 0 1 41%;
	@include adaptiv-value(padding-right,55,0);
	@include adaptiv-value(padding-left,87,0);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@media (max-width: $Mb){
		align-items: center;
	}
	
}

.initial__img {
	flex: 0 1 59%;
	@include adaptiv-value(padding-left,80,0);
	@include adaptiv-value(padding-right,80,0);	
}




.initial__title {
	white-space: nowrap;
	font-family: 'Playfair Display';
	color: #1B1A17;
	line-height: 130%;
	@include adaptiv-value(font-size,45,28);
	@media (max-width: $Mb){
		text-align: center;
	}
	@include adaptiv-value(margin-bottom,16,11);
}
.initial__section {
font-family: 'Playfair Display';
@include adaptiv-value(font-size,30,19);
color: #1B1A17;
@include adaptiv-value(margin-bottom,40,30);
@media (max-width: $Mb){
	text-align: center;
}

}
.initial__p {

	font-weight: 300;
	font-size: 14px;
	max-width: 260px;
color: rgba(27, 26, 23, 0.82);
@include adaptiv-value(margin-bottom,64,40);
@media (max-width: $Mb){
	margin-bottom: 0;
	text-align: center;
}

}
.initial__btn {
	transition: all 0.1s linear;
	background: #444240;

	color: #fff;
	font-style: normal;
font-weight: 500;
font-size: 12px;
letter-spacing: 0.05em;
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;
@include adaptiv-value(width,205,168);
@include adaptiv-value(height,64,44);


@media (max-width: $Mb){
	margin-top: 20px;
}

@media(any-hover: hover){&:hover{
	background: #2f2e2c;
	transition: all 0.3s linear;
}}
}





.initial__img{
	@include adaptiv-value(font-size,16,10);
@media (max-width: $Mb){
	font-size: 12px;
}
	color: #1B1A17;
	display: block;
	position: relative;
	z-index: 2;
	&::after{
		content: "10100 ₽";
		position: absolute;
		top: 20%;
		left: 10%;

		z-index: 1;
		display: block;
		background: url(../img/initial__line.jpg) 100% center no-repeat;
		padding-right: 55px;
		@media (max-width: 700px){
			left: 5%;
		}
		
	}
	&::before{
		content: "28 мм диаметр";
		position: absolute;
		bottom: 20%;
		right: 5%;
		z-index: 200;
		display: block;
		background: url(../img/initial__line.jpg) 0% center no-repeat;
		padding-left: 55px;
		@media (max-width: 700px){
			right: 0;
		}
		
	}
	
}

.initial__img{
	overflow: hidden;
	span{
		&:after{
			content: '';
			background: url(../img/initialBg.png)  no-repeat;
			position: absolute;
			top: 5%;
			left: 50%;
			z-index: -1;
			transform: translateX(-50%);	
			display: block;		
			@include adaptiv-value(width,500,80);
			@include adaptiv-value(height,850,100);
		@media (max-width: $Mb){
		
			@include adaptiv-value(width,400,250);
			@include adaptiv-value(height,900,600);
		
			
		}
		
		}
		
	}
}







 

