

.news{
	@include adaptiv-value(padding-bottom,90,20);
}




.news {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (max-width: $Mb){
		flex-direction: column;
		
	}
	

}
.news__text {
	flex: 0 1 46%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	@media (max-width: 420px){
align-items: center;
	}
	

}
.news__title {
	padding-right: 8%;
@media (max-width: $Mb){
	padding-right: 0;	
	margin-bottom: 20px;
}
@media (max-width: 420px){
	text-align: center;
}


}
.news__p {
	padding-right: 20%;
	color: #444240;
	@include adaptiv-value(font-size,16,14);
	@include adaptiv-value(margin-bottom,110,30);
	@media (max-width: 420px){
		margin-bottom: 20px;	
		padding-right: 0;
		text-align: center;
	}
	
	a{
		font-weight: 700;
	}
	
	
}
.news__social-networks {
	display: flex;
	align-items: center;
	gap: 18px;
	@media (max-width: $Mb){
		margin-top: 20px;
	}
	
}
.news__photo {
	flex: 0 1 54%;
}

.costile-tw{
	padding-top: 4px;
}





.grid__item-big{
	grid-row: span 2;
}


.news__photo-wr{
	
	display: grid;
grid-template-columns: 39% 59%;
grid-template-rows: repeat(2, 50%);
grid-column-gap: 10px;
grid-row-gap: 10px;
	}
	

	.grid__item-1 { grid-area: 1 / 1 / 2 / 2;}
	.grid__item-3 { grid-area: 2 / 1 / 3 / 2;}
	.grid__item-2	{ grid-area: 1 / 2 / 3 / 3;	 
	img{
		min-height: 100%;
	}
	}
	
	



	
